{% extends "base.html" %}

{% block title %}
    My Site - About
{% endblock title %}

{% block content %}
<header>PHOSPHORUS</header>

<p>Phosphorus is an app for sun-based mindfulness. Get a reminder 30 minutes before sunrise and sunset to have a chance to get outside and enjoy the sun. Watching a sunrise/sunset has noted mental benefits, and is a great way to start or end your day. The app combines sun-mindfulness with positive affirmations for meditation and stress-relief.</p>

<div class="wrapper">

        <div class="item">
          <div class="polaroid"><img src="/static/images/dawn.jpg">
            <div class="caption"><a href="https://www.healthline.com/health/depression/benefits-sunlight">Serotonin</a>
              </div>
          </div>
        </div>
      
        <div class="item">
          <div class="polaroid"><img src="/static/images/desert.jpg">
            <div class="caption"><a href="https://www.health.harvard.edu/staying-healthy/vitamin-d-and-your-health-breaking-old-rules-raising-new-hopes">Vitamin D</a>
            </div>
          </div>
        </div>
      
        <div class="item">
          <div class="polaroid"><img src="/static/images/nature.jpg">
            <div class="caption"><a href="https://mrc.ukri.org/news/browse/scientists-uncover-how-sunlight-on-skin-reduces-eczema-inflammation/">Alleviates Skin Disorder</a>
            </div>
          </div>
        </div>
      


{% endblock content %}


