{% extends "base.html" %}

{% block title %}
    My Site - About
{% endblock title %}


{% block content %}

<div class="wrapper">

        <div class="item">
          <div class="polaroid"><img src="/static/images/dawn.jpg">
            <div class="caption">Serotonin</div>
          </div>
        </div>
      
        <div class="item">
          <div class="polaroid"><img src="/static/images/desert.jpg">
            <div class="caption">Vitamin D</div>
          </div>
        </div>
      
        <div class="item">
          <div class="polaroid"><img src="/static/images/nature.jpg">
            <div class="caption">Skin Disorder Remedy</div>
          </div>
        </div>
      
<p>Phosphorus is an app for sun-based mindfulness. Get a reminder 30 minutes before sunrise and sunset to have a chance to get outside and enjoy the sun. Watching a sunrise/sunset has noted mental benefits, and is a great way to start or end your day. The app combines sun-mindfulness with positive affirmations for meditation and stress-relief.</p>

{% endblock content %}


