{% extends "base.html" %}

{% block title %}
    Phosphorus
{% endblock title %}

{% block content %}

<header> WHERE ARE YOU? </header>



<div class="row">
  <div class="col">


  {% if local_sunrise and local_sunset %}

    <p>Today's sunset: {{ local_sunset }}</p>
    <p>Today's sunrise: {{ local_sunrise }}</p>

  {% else %}

    <form id="form" class="topBefore" method="POST">
      <!-- <input id="name" type="text" placeholder="NAME OF CITY"> -->
      {% csrf_token %}
      {{ form.as_p }}
      <p>
      <input id="submit" type="submit" value="LET'S GO">
    </form>

  {% endif %}


  </div>
</div>

{% endblock content %}
